os:
  - osx
  - linux
language:            node_js
node_js:
  - "node"
  - "lts/*"
  - "7"
  - "8"
env:
  - ENV=CI

before_install:
  - npm install -g npm@latest

install:
  - npm install
  - npm i -g pkg

script:
  - npm run test
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pkg . -d -t node9-macos-x64        ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then pkg . -d -t node9-linux-x64        ; fi

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always
