os:
  - osx
  - linux
language:            node_js
node_js:
  - "node"
  - "lts/*"
  - "7"
  - "8"
env:
  - ENV=CI

before_install:
  - npm install -g npm@latest

install:
  - npm install
  - npm i -g nexe

script:
  - npm run test
  # nexe
  - nexe ./cli/cli.js -b

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always
